{
  "presets": ["env", "stage-0"],
  "plugins": [
    "transform-runtime",
    [
      "component",
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ],
    "transform-remove-strict-mode"
  ] /* ,
  "ignore": [
    "./lib/mui/js/*.js" //babel-loader编译js文件时使用了严格模式，略过某个js文件
  ] */
}
